@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;

}

body{
    min-width: fit-content; /*fez o fundo da pagina e o cabeçalho seguirem o box principal ao dividir a janela*/
}

.cabecalho{
    background: linear-gradient(135deg, #24C6DC,#514A9D);
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    display: flex;
    border-bottom: 2px solid #0315506b;
    gap: 30px;
    text-align: center;
    width: max-content;
    min-width: 100%;
    height: 10vh;

}

main{

    display:flex;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: max-content; /*impediu as escritas de flexionarem e quebrarem linha*/
    min-width: 100%;
    
}

.pesquisar{
    display: flex;
    
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.portAlu{
    display: flex;
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    text-shadow: 0rem 2px 1px #131213ad;
    align-items: center;
    
    
}

.pesqInp{
    
    width: 325px;
    padding: 0.4rem;
    border-radius: 7px;
    border: 2.4px solid #ccc;
}

.totalBox{
   display: flex;
    justify-content: center; /* Centraliza horizontalmente */

    padding: 2rem;/*ao dividir janela, a box estava encostando na aba de menu, usando o pading da pra se criar uma margem de segurança*/
    flex: 1;
    
}

.abaMenu{
    
    background: linear-gradient(135deg, #24C6DC,#514A9D);
    width: 250px;
    border-right: 2px solid #0315506b;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*com o min-height defino um tamanho certo/minimo para a altura da aba de menu*/
    height: auto; /*e com o height em auto permito que a altura se ajuste a janela caso o usuario use a pagina em janela dividia*/
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight:normal;
    font-size: 0.9rem;
    
}

.mainInfo{
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid #e0e0e0;
    gap: 8px;
    
  
}

.itemMenu{
    display: flex;
    color: #ffffff;;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    margin: 1rem;
    align-items: center;
    gap: 12px;
    border-bottom: solid 1px #e0e0e057;
    
    

}

.itemMenu:hover{ /*Efeito ao passar o mouse*/
    background-color:  #2c5364;
    width: auto;
    display: flex;
    padding: 7px;
    border-bottom: solid 1px #24C6DC;
    box-shadow: 0px 2px 0px #24C6DC;
}

.definicao{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    align-items: center;
    gap: 8px;
   
}

.em{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    align-items: center;
    gap: 8px;
}

label{
    display: flex;
  
}



.abaPrinc{
    background-color: rgb(248, 248, 248);
    display: flex;
    border: solid 1px #e0e0e0;
    border-radius: 13px 13px 0px 0px;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.507);
    padding: 0rem;
    min-width: 850px;
    width: 100%;
    
}

.abaPrinc02{
    background-color: rgb(248, 248, 248);
    display: flex;
    border: solid 1px #e0e0e0;
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.507);
    padding: 0rem;
    min-width: 850px;
    width: 100%;
}



h3{
    font-size: 1rem;
}



.juntaricon{ /*div criada para colocar o icon ao lado do label (info. básica e cia)*/
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    border-bottom: solid 1px #e0e0e0;
    height: 70px;

    
}

.numeri{
    
    background: linear-gradient(35deg, #24C6DC,#514A9D);
    border-radius: 3rem 2rem 1rem; /*não consegui deixar um redondo perfeito, daí brinquei com as medidas do rem */
    width: 30px;
    padding: 0.2rem;
    text-align: center;
    color: #e0e0e0;
    
}

.designtest{ /*criado para testar um design na fonte*/

    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;

}

.cadzinho{ /*cor e sombra da fonte do CADASTRO DE NOVO PRODUTO*/
    
    color: #002e72cb;
    text-shadow: 0px 0px 3px #ffffff;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    

}

.allinp{
    border-radius: 4px;
    padding: 5px;
    border: solid 1px #e0e0e0;
    
}

.butDiv{
    align-items:center;
    display:flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(135deg, #24C6DC,#514A9D);
    border: solid 1px #e0e0e0;
    border-radius: 0px 0px 13px 13px;
    box-shadow: 0px 3px 10px rgba(39, 39, 39, 0.507);

}

.butt01{
    padding: 11px;
    border-radius: 5px;
    border: solid 2px #e0e0e0;
    cursor: pointer;
    background-color:  #ffffffa8;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;

}

.butt02{
    padding: 11px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;

}

#img { /* hashtag utilizada para selecionar id e modifica-lo aqui no css */
    display: none;
        }

.custom-upload { /* Estilização do label para parecer um botão personalizado */
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 2.4px solid #ccc;
    border-radius: 8px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    transition: 0.3s;
    border-style: dotted;
    width: 30vh;
    justify-content: center;
}


.custom-upload:hover {
    background-color: #e0e0e0;
}



.custom-upload img { /* configuração da imagem da câmera*/
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.profito{

    font-size: 0.7rem;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.profitEsq{
    display: flex;
  
}

.infoIcon{
    display: flex;
    background: #5f5f5fa8;
    padding: 4px;
    border-radius: 50%; /*cria um círculo*/
    width: 13px;
    height: 13px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none; /* Remove a linha */
    color: inherit;       /* Faz o link ficar com a cor do texto ao redor (opcional) */
}



.mainFooter{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 13vh;
    flex-direction:row;
    background-image: url("assets/bgfoot.png");
    color: #e0e0e0;
    gap: 440px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid #0315506b;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight:normal;
    font-size: 13px;
    width: max-content;
    min-width: 100%;
    
    
    
}

.footMenu{

    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    gap: 7px;
}

.footMenuFont{
    cursor: pointer;
}

.roboass{ /*copiando e colando configurações do bg do <main> para que a imagem não se repita no fundo e etc */
    padding: 110px;
    background-image: url('assets/robaberto.png');
    background-size: 70%; 
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    transition: 0.1s;
}

.roboass:hover{
    padding: 110px;
    background-image: url('assets/robfechado.png');
    background-size: 70%; /* Faz a imagem cobrir todo o elemento */
    background-repeat: no-repeat;
    background-position: center; 
    border-image: solid 4px;
  
}