@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.cabecalho{
    background: linear-gradient(135deg, #24C6DC,#514A9D);
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    display: flex;
    border-bottom: 2px solid #0315506b;
    gap: 30px;
    text-align: center;

}

.pesquisar{
    padding: 1rem;
    margin: 1rem;
}

.portAlu{
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    text-shadow: 0rem 2px 1px #131213ad;
}

.pesqInp{
    
    width: 325px;
    padding: 0.5rem;
    border-radius: 7px;
}

.totalBox{
    justify-content: center;
    display: flex;
    height: 55vh;
    flex: 1; /*centralizou*/
    
}

.abaMenu{
    
    background: linear-gradient(135deg, #24C6DC,#514A9D);
    width: 250px;
    border-right: 2px solid #0315506b;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 87vh;
    
    
}

.mainInfo{
    
    padding: 30px;
    border-right: 1px solid #e0e0e0;
    justify-content:space-between;
    
  
}

.itemMenu{
    display: flex;
    color: #ffffff;;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 1rem;
    align-items: center;
    gap: 12px;

}

.itemMenu:hover{ /*Efeito ao passar o mouse*/
    background-color:  #2c5364;
    width: 60%;
}

.definicao{
    padding: 30px;
    border-right: 1px solid #e0e0e0;
}

.em{
    padding: 30px;
}

label{
    display: flex;
}

.teste{
    height: 87vh;
    display:flex;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-attachment: fixed; 
    
}


.explic{
    display: flex;
    justify-content: center;
    
}

.abaPrinc{
    background-color: rgb(248, 248, 248);
    display: flex;
    border: solid 1px #e0e0e0;
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.507);
    padding: 1.6rem;
    
}

h3{
    font-size: 1rem;
}





.juntaricon{ /*div criada para colocar o icon ao lado do label (info. básica)*/
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.numeri{
    
    background: linear-gradient(35deg, #24C6DC,#514A9D);
    border-radius: 3rem 2rem 1rem; /*não consegui deixar um redondo perfeito, daí brinquei com as medidas do rem */
    width: 30px;
    padding: 0.2rem;
    text-align: center;
    color: #e0e0e0;
    
}

.designtest{ /*criado para testar um design na fonte*/

    

}

.cadzinho{ /*cor e sombra da fonte do CADASTRO DE NOVO PRODUTO*/
    color: #030303;
    text-shadow: 0px 0px 3px #ffffff;
}